# Gnome Desktop file

[Desktop Entry]
Name=mindreader
Comment="Open Mind journal keeper"
Exec=/home/USERNAME/.local/bin/mindreader
Icon=/home/USERNAME/.local/share/icons/mindreader.png
Terminal=false
Type=Application
Categories=Office;
